ul li {
    list-style-type: none;
    margin:30px auto; 
    position: relative;
    width: 70vw;
}

h2 {
    color:blue;
}

.name {
    font-size: 30px;
    font-weight: bolder;
}

.content {
    display: block;
    text-align:justify;
}

img {
    position: absolute;
    width: 20px;
    height: auto;
    right: 5%;
    border-radius: 50%;
}

button {
    display: block;
    margin:10px auto;
    border:none;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: black;
}

button:hover {
    background-color:blue;
    cursor: pointer;
    transition: all 1s;
}